@font-face {
    font-family: karantina;
    src: url("assets/font/Karantina-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: karantina-bold;
    src: url("assets/font/Karantina-Bold.ttf");
}

@font-face {
    font-family: Assistant;
    src: url("assets/font/Assistant-Light.ttf");
}

* {
    font-family: Assistant;
}

body, html {
    font-family: Assistant;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("assets/media/background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    direction: rtl;
    color: white;
    overflow: hidden;
}

/* טוען */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f45d;
    font-size: 2em;
    font-weight: 800;
}

.loader > img {
    width: 50vw;
}

.loader.fade {
    animation: fadeOut 1s 2s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.logo {
    width: 18vw;
    height: 7vh;
}

.header {
    position: absolute;
    width: 94%;
    height: 10vh;
    margin: 0px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    right: 3%;
}

.title {
    width: 100%;
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: karantina-bold;
}

.div-body, .body-odot {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.odot-logo {
    width: 7vw;
}

.div-odot {
    display: none;
    width: 100%;
    height: 100%;
}

.p-odot {
    margin: 0.5em;
}

.div-p-odot {
    font-family: Assistant;
    font-size: 1.2em;
}

.till-logo {
    width: 23vW;
    height: auto;
}

.div-middle {
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-right: 0em;
    margin-top: 2em;
    justify-content: space-around;
}

.back-button {
    position: absolute;
    bottom: 12vh;
    width: 18vw;
    right: 2vh;
}

.character {
    width: 60vw;
    height: 61vh;
    bottom: 0;
}

.bubble {
    background-image: url("assets/media/speechbubble_up.svg");
    width: 90vw;
    height: 30vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.front-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.7em;
    margin: 2.5em;
    text-align: center;
}

.next-button {
    position: absolute;
    bottom: 12vh;
    width: 18vw;
    left: 5vw;
    display: block;
}

#back-button {
    display: none;
}

/* sort to groups */
.dropContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.drop {
    background-color: #0b3b8c;
    border-radius: 16px;
    border: #4f77a9 solid;
    width: 88vw;
    height: 18vh;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

.dragContainer{
    display: flex;
    flex-wrap: wrap;
}

.drag {
    background-image: url(assets/media/Artboard\ 167.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: fit-content;
    height: 5vh;
    text-align: center;
    margin: 1em;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Assistant;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

.div-drop {
    display: none;
}

#character-mistake {  
    width: 43vw;
    height: 71vh;
    position: absolute;
    bottom: -31vh;
    right: 0vh;
}

#bubble-drop {
    background-image: url(assets/media/speechbubble_side.svg);
    width: 63vw;
    height: 38vh;
    position: absolute;
    left: -3vw;
    top: -5vh;
}

.div-mistake {
    width: 98vw;
    height: 28vh;
    position: absolute;
    bottom: -29vh;
    background-color: #0000008a;
}

.animation {
    animation-name: move;
    animation-duration: 5s;
}

@keyframes move {
    0% {bottom: -29vh;}
    40% {bottom: 8vh;}
    60% {bottom: 8vh;}
    100% {bottom: -29vh;}
}

.p-groups {
    margin: 0;
    margin-right: 1em;
}
